<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/followUser" method="post" enctype="multipart/form-data">
                {% for line in user_list %}
                <input type="radio" name="poster" value={{line.username}}>{{line.username}}</input>
	            <br>
                {% endfor %}

            <input type="submit" value="Follow">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/logout">Logout</a>
    </body>
</html>