<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="text" name="filePath" placeholder="filePath" required/>
                <br/>
                <input type="text" name="caption" placeholder="caption" required/>
                <br/>
                <input type="radio" name="allFollowers" placeholder="allFollowers" required/>
                <br/>

                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>
